body {
  background-color: #161616
}



.block {
  background-color: rgba(255, 255, 255, 0.5);
  width:30%;
  -webkit-box-shadow: 2px 4px 4px 4px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 2px 4px 4px 4px rgba(255, 255, 255, 0.5);
  box-shadow: 2px 4px 4px 4px rgba(255, 255, 255, 0.5);
  
  
}

.cartBlock {
  width: 100%;
  
}

.App {
  display: flex;
  justify-content: space-around;
}

.columnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

.header {
  width:100%;
}

.categories {
  padding:10px;
}

.categoryButton {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);

}

.categoryButton:hover {

  background-color: #fdeb6b;
  transform: scale(1.2);

}

.categoryButtonSelected {

  background-color: green;
  
}

p, h1, h2, button {

  font-family: 'Poppins', sans-serif;

  font-size: 20px;

}

h1 {
  
  margin: 0;
  background-color: rgb(223, 221, 221);
  text-align: center;
  padding: 20px;
}

button {

  background-color: #fdeb6b;

  margin-top: 40px;

  margin-left: 10px;
  

}

.cart {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px 0px 20px 0px;
  background-color: rgb(223, 221, 221);
  padding: 20px 0px 20px 0px;
}

.cartDish {
  display: flex;
  justify-content: space-around;
  width:100%;
  background-color: #fffbdf;
  
}

.removeItem {
  align-self: flex-end;
  margin: 20px 10% 20px 0px;
}

.removeItem:hover {
  transform: scale(1.5);
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width:120px;
}

.change {
  width:30px;
  height: 30px;
  align-self: center;
  justify-self: center;
  border: none;
}

.change:hover {
  transform: scale(1.3);
}

span {
  font-size: 25px;
  text-align: center;
  margin-left: 5px;
}

.add {
  padding: 10px;
  background-color: green;
  color:#fffbdf;
  border: none;
  border-radius: 15px;
}

.add:hover {
  background-color: #fffbdf;
  color: green;
  outline:1px solid green;
  transform: scale(1.1);
  outline-offset:-4px;
}

.img {
  margin-top: 25px;
}

.container_loader {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media all and (max-width: 1200px) {

  .img {
    width:300px;
  }


}

@media all and (max-width: 820px) {

  .block {
    width: 45%;
  }

}

@media all and (max-width: 500px) {

  .App {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .block {
    width: 90%;
    
  }

}

